{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "openai": {
      "npm": "@ai-sdk/openai",
      "name": "OpenAI",
      "models": {
        "gpt-5.3-codex": {
          "name": "gpt-5.3-codex"
        }
      }
    }
  },
  "model": "copilot/gpt-5.3-codex",
  "permission": {
    "bash": {
      "*": "ask",
      "git *": "allow",
      "nix *": "allow",
      "darwin-rebuild *": "allow",
      "uv *": "allow",
      "nu *": "allow"
    },
    "edit": {
      "*": "allow"
    },
    "skill": {
      "*": "allow"
    }
  },
  "mcp": {
    "searxng": {
      "type": "local",
      "command": [
        "env",
        "SEARXNG_URL=http://localhost:8080",
        "npx",
        "-y",
        "mcp-searxng"
      ],
      "enabled": true,
      "timeout": 15000
    }
  },
  "tools": {
    "searxng_*": true
  }
}
