{
  "$schema": "https://opencode.ai/config.json",
  "provider": {
    "openai": {
      "options": {
        "headerTimeout": 60000
      }
    }
  },
  "permission": {
    "bash": {
      "*": "ask",
      "git *": "allow",
      "nix *": "allow",
      "darwin-rebuild *": "allow",
      "uv *": "allow",
      "nu *": "allow"
    }
  }
}
