# vim:fileencoding=utf-8:foldmethod=marker:foldmarker=<<<,>>>

# : Manager <<<

[mgr]
cwd = { fg = "{{ .colors.solarized.blue }}" }

# Hovered
hovered         = { reversed = true }
preview_hovered = { underline = true }

# Find
find_keyword  = { fg = "{{ .colors.solarized.magenta }}", bold = true, italic = true, underline = true }
find_position = { fg = "{{ .colors.solarized.cyan }}", bg = "reset", bold = true, italic = true }

# Marker
marker_copied   = { fg = "{{ .colors.solarized.green }}", bg = "{{ .colors.solarized.green }}" }
marker_cut      = { fg = "{{ .colors.solarized.yellow }}", bg = "{{ .colors.solarized.red }}" }
marker_marked   = { fg = "{{ .colors.solarized.blue }}", bg = "{{ .colors.solarized.cyan }}" }
marker_selected = { fg = "{{ .colors.solarized.yellow }}", bg = "{{ .colors.solarized.yellow }}" }

# Count
count_copied   = { fg = "{{ .colors.solarized.base02 }}", bg = "{{ .colors.solarized.green }}" }
count_cut      = { fg = "{{ .colors.solarized.base02 }}", bg = "{{ .colors.solarized.yellow }}" }
count_selected = { fg = "{{ .colors.solarized.base02 }}", bg = "{{ .colors.solarized.blue }}" }

# Border
border_symbol = "│"
border_style  = { fg = "{{ .colors.solarized.base01 }}" }

# : >>>


# : Tabs <<<

[tabs]
active   = { fg = "{{ .colors.solarized.base03 }}", bg = "{{ .colors.solarized.blue }}", bold = true }
inactive = { fg = "{{ .colors.solarized.blue }}", bg = "{{ .colors.solarized.base03 }}" }

# : >>>


# : Mode <<<

[mode]

normal_main = { fg = "{{ .colors.solarized.base03 }}", bg = "{{ .colors.solarized.blue }}", bold = true }
normal_alt  = { fg = "{{ .colors.solarized.blue }}", bg = "{{ .colors.solarized.base03 }}" }

# Select mode
select_main = { fg = "{{ .colors.solarized.base03 }}", bg = "{{ .colors.solarized.green }}", bold = true }
select_alt  = { fg = "{{ .colors.solarized.blue }}", bg = "{{ .colors.solarized.base03 }}" }

# Unset mode
unset_main = { fg = "{{ .colors.solarized.base03 }}", bg = "{{ .colors.solarized.magenta }}", bold = true }
unset_alt  = { fg = "{{ .colors.solarized.blue }}", bg = "{{ .colors.solarized.base03 }}" }

# : >>>


# : Status bar <<<

[status]
overall = { fg = "{{ .colors.solarized.blue }}" }
sep_left  = { open = "", close = "" }
sep_right = { open = "", close = "" }


# Progress
progress_label = { fg = "{{ .colors.solarized.base03 }}", bold = true }
progress_normal = { fg = "{{ .colors.solarized.blue }}", bg = "{{ .colors.solarized.base03 }}" }
progress_error = { fg = "{{ .colors.solarized.red }}", bg = "{{ .colors.solarized.base03 }}" }

# Permissions
perm_sep   = { fg = "{{ .colors.solarized.base01 }}" }
perm_type  = { fg = "{{ .colors.solarized.blue }}" }
perm_read  = { fg = "{{ .colors.solarized.yellow }}" }
perm_write = { fg = "{{ .colors.solarized.red }}" }
perm_exec  = { fg = "{{ .colors.solarized.green }}" }


# : >>>

# : Pick <<<

[pick]
border = { fg = "{{ .colors.solarized.blue }}" }
active = { fg = "{{ .colors.solarized.magenta }}", bold = true }
inactive = {}

# : >>>


# : Input <<<

[input]
border   = { fg = "{{ .colors.solarized.blue }}" }
title    = {}
value    = {}
selected = { reversed = true }

# : >>>


# : Completion <<<

[cmp]
border = { fg = "{{ .colors.solarized.blue }}" }

# : >>>


# : Tasks <<<

[tasks]
border  = { fg = "{{ .colors.solarized.blue }}" }
title   = {}
hovered = { fg = "{{ .colors.solarized.magenta }}", underline = true }

# : >>>


# : Which <<<

[which]
mask            = { bg = "{{ .colors.solarized.base02 }}" }
cand            = { fg = "{{ .colors.solarized.cyan }}" }
rest            = { fg = "{{ .colors.solarized.base01 }}" }
desc            = { fg = "{{ .colors.solarized.magenta }}" }
separator       = "  "
separator_style = { fg = "{{ .colors.solarized.base01 }}" }

# : >>>


# : Help <<<

[help]
on      = { fg = "{{ .colors.solarized.green }}" }
run     = { fg = "{{ .colors.solarized.magenta }}" }
hovered = { reversed = true, bold = true }
footer  = { fg = "{{ .colors.solarized.base03 }}", bg = "{{ .colors.solarized.base0 }}" }

# : >>>


# : Notify <<<

[notify]
title_info  = { fg = "{{ .colors.solarized.green }}" }
title_warn  = { fg = "{{ .colors.solarized.red }}" }
title_error = { fg = "{{ .colors.solarized.yellow }}" }

# : >>>


# : File-specific styles <<<

[filetype]

rules = [
	# Images
	{ mime = "image/*", fg = "{{ .colors.solarized.yellow }}" },

	# Media
	{ mime = "video/*", fg = "{{ .colors.solarized.magenta }}" },
	{ mime = "audio/*", fg = "{{ .colors.solarized.magenta }}" },

	# Archives
	{ mime = "application/zip",             fg = "{{ .colors.solarized.magenta }}" },
	{ mime = "application/x-tar",           fg = "{{ .colors.solarized.magenta }}" },
	{ mime = "application/x-bzip*",         fg = "{{ .colors.solarized.magenta }}" },
	{ mime = "application/x-bzip2",         fg = "{{ .colors.solarized.magenta }}" },
	{ mime = "application/x-7z-compressed", fg = "{{ .colors.solarized.magenta }}" },
	{ mime = "application/x-rar",           fg = "{{ .colors.solarized.magenta }}" },
	{ mime = "application/x-xz",            fg = "{{ .colors.solarized.magenta }}" },

	# Documents
	{ mime = "application/doc",        fg = "{{ .colors.solarized.green }}" },
	{ mime = "application/epub+zip",   fg = "{{ .colors.solarized.green }}" },
	{ mime = "application/pdf",        fg = "{{ .colors.solarized.green }}" },
	{ mime = "application/rtf",        fg = "{{ .colors.solarized.green }}" },
	{ mime = "application/vnd.*",      fg = "{{ .colors.solarized.green }}" },

	# Fallback
	{ name = "*", fg = "{{ .colors.solarized.base0 }}" },
	{ name = "*/", fg = "{{ .colors.solarized.blue }}" }
]

# : >>>
