# Cache, lock, and temporary files
*.lock
*.socket
*~
#*#
*/__pycache__/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Zsh session & history
.zsh_sessions/
.zsh_history
zsh_history
**/.zsh_history

# General cache & trash
.cache/
.local/share/Trash/

# GitHub CLI auth file
dot_config/gh/hosts.yml

# Repository metadata
README.md
README.ja.md
LICENSE
.gitignore
.github

# Local configuration files (machine-specific)
dot_config/zsh/local.zsh
.Brewfile
private_Library/

# Linux/Non-Darwin exclusions
{{ if ne .chezmoi.os "darwin" }}
dot_config/hammerspoon
dot_config/zsh/.homebrew
.scripts/run_onchange_darwin_install_packages.sh.tmpl
{{ end }}
