# Cache, lock, and temporary files
*.lock
*.socket
*~
#*#
*/__pycache__/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Nushell session & history
dot_config/nushell/history.sqlite3
dot_config/nushell/history.sqlite
dot_config/nushell/history.txt

# General cache & trash
.cache/
.local/share/Trash/

# Lima VM data (machine-specific)
.local/share/lima/

# GitHub CLI auth file
dot_config/gh/hosts.yml

# Repository metadata
README.md
LICENSE
.gitignore
.github
docs
archive

# Local configuration files (machine-specific)
dot_config/nushell/local.nu
dot_config/taskwarrior/local.rc
.Brewfile
private_Library/

# Internal or template-only paths
.internal_scripts/
.scripts.tmpl/

# Linux/Non-Darwin exclusions
{{ if ne .chezmoi.os "darwin" }}
dot_config/hammerspoon
.scripts/run_onchange_darwin_install_packages.sh.tmpl
{{ end }}
