#!/bin/bash

# hash: {{ include "dot_config/stats/eu.exelban.Stats.plist" | sha256sum }}

echo "Detected changes in Stats (eu.exelban.Stats) configuration. Importing to system..."

# Import settings from XML file
defaults import eu.exelban.Stats "{{ .chezmoi.homeDir }}/.config/stats/eu.exelban.Stats.plist"

# Prompt reload to maintain cache consistency
killall cfprefsd 2>/dev/null
# Restart Stats app
killall Stats && open -a Stats
