#!/bin/bash

# hash: {{ include "dot_config/stats/eu.exelban.Stats.plist" | sha256sum }}

echo "Stats (eu.exelban.Stats) の設定変更を検出。システムにインポート中..."

# XMLファイルから設定をインポート
defaults import eu.exelban.Stats "{{ .chezmoi.homeDir }}/.config/stats/eu.exelban.Stats.plist"

# キャッシュの整合性を保つため再読み込みを促す
killall cfprefsd 2>/dev/null
# Statsアプリを再起動
killall Stats && open -a Stats
