# Alacritty config (~/.config/alacritty/alacritty.toml)

[general]
import = ["blur.toml"]

[terminal.shell]
program = "/opt/homebrew/bin/nu"
args = [
  "-l",
  "--config",
  "/Users/drgnxd/.config/nushell/config.nu",
  "--env-config",
  "/Users/drgnxd/.config/nushell/env.nu",
]

[window]
decorations = "buttonless"
# Window padding (pixels)
padding = { x = 10, y = 10 }

# Background opacity (0.0-1.0)
# ~0.95 recommended
opacity = 0.75

# Left Option acts as Alt; Right Option is used as Meta
option_as_alt = "OnlyLeft"

[font]
# Set font family (Nerd Font recommended) and size
# e.g. "HackGen Console NF", "PlemolJP Console NF"
size = 13.0

[font.normal]
family = "HackGen35 Console NF"
style = "Regular"

[env]
# Tell apps this is a 256-color terminal (ok if duplicated)
TERM = "xterm-256color"

# Solarized Dark color theme
[colors]
primary = { background = "{{ .colors.solarized.base03 }}", foreground = "{{ .colors.solarized.base0 }}" }

[colors.normal]
black = "{{ .colors.solarized.base02 }}"
red = "{{ .colors.solarized.red }}"
green = "{{ .colors.solarized.green }}"
yellow = "{{ .colors.solarized.yellow }}"
blue = "{{ .colors.solarized.blue }}"
magenta = "{{ .colors.solarized.magenta }}"
cyan = "{{ .colors.solarized.cyan }}"
white = "{{ .colors.solarized.base2 }}"


[colors.bright]
black = "{{ .colors.solarized.base03 }}"
red = "{{ .colors.solarized.orange }}"
green = "{{ .colors.solarized.base01 }}"
yellow = "{{ .colors.solarized.base00 }}"
blue = "{{ .colors.solarized.base0 }}"
magenta = "{{ .colors.solarized.violet }}"
cyan = "{{ .colors.solarized.base1 }}"
white = "{{ .colors.solarized.base3 }}"

[[keyboard.bindings]]
key = "B"
mods = "Command"
command = { program = "/bin/sh", args = ["-c", "${XDG_CONFIG_HOME:-$HOME/.config}/alacritty/toggle_blur.sh"] }
